/* styles go here */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEEEEE;
}

#login-logo {
    color: blue;
    animation: logoDance 8s alternate infinite;
}

@keyframes logoDance {
    0% {
        
    }
    25% {
    }
    50% {
    }
    75% {
    }
    100% {
    }
}