* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEEEEE;
}

#login-logo {
    animation: logoDance 3s linear alternate;
}

.navLink {
    color: #3c4757;
    text-decoration: none;
    border-bottom: solid white;
}

.navLink:hover {
    border-bottom: solid #bfbfbf;
    transition: 0.5s all;
}

.activeNavLink {
    border-bottom: solid #0092CA;
}

@keyframes logoDance {
    /* 25% {
        transform: rotate(90deg) scale(1.1); 
    }
    50% {
        transform: rotate(180deg) scale(1.3); 
    }
    75% {
        transform: rotate(270deg) scale(1.1); 
    }
    100% {
        transform: rotate(360deg);
    } */

    30% {
        transform: translate(-25%, -25%); 
    }
    60% {
        transform: translate(25%, 25%); 
    }
}
