* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EEEEEE;
}

#login-logo {
    animation: logoDance 3s linear alternate;
}

.navLink {
    color: #3c4757;
    text-decoration: none;
    border-bottom: solid white;
}

.navLink:hover {
    border-bottom: solid #bfbfbf;
    transition: 0.5s all;
}

.activeNavLink {
    border-bottom: solid #0092CA;
}

.productCardImg:hover {
    cursor: pointer;
    width: 300;
}

@keyframes logoDance {
    0% {
        transform: rotate(40deg) scale(0);
    }
    15% {
        transform: rotate(90deg) scale(0.30); 
    }
    30% {
        transform: rotate(90deg) scale(0.30); 
    }
    45% {
        transform: rotate(180deg) scale(0.60); 
    }
    60% {
        transform: rotate(270deg) scale(1.2); 
    }
    75% {
        transform: rotate(360deg) scale(1.5); 
    }
    100% {
        transform: scale(1);
    }
}

.boldHeading {
    font-weight: bold;
    text-decoration: underline;
}


.backgroundImage {
    background: linear-gradient(-225deg, #5D9FFF 0%, #2998e2 45%, #e2e7ec 100%);
    opacity: 0.9;
    background-size: cover;
    padding: 5%;
    line-height: 200% ;
    border-radius: 10px;
   
   
  
} 

/* .welcomeImage {
    background-image: url(https://us.123rf.com/450wm/yuriybogdanov/yuriybogdanov1802/yuriybogdanov180200053/94690067-wave-of-the-many-colored-lines-abstract-wavy-stripes-on-a-white-background-isolated-creative-line.jpg?ver=6);
    background-size: cover;
    padding: 5%;


} */